In [1]:
#if
indian=["panir bhujia", "aloo paratha", "samosa","jalebi"]
italian=["pane", "pasta", "pizza"]
chinese=["susi", "momos", "noodles"]

In [3]:
my_dish=input("Enter dish name : ")
if my_dish in indian:
    print("It is indian cuisine")
elif my_dish in italian:
     print("It is italian cuisine")
elif my_dish in chinese:
     print("It is chinese cuisine")
else:
     print("It is unknown cuisine")

Enter dish name :  samosa

It is indian cuisine

In [4]:
#for loop

expense=[1245,2345,2423,2823,1223]
total=0
for i in expense:
    total=total+i

print(total)

10059

In [5]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [9]:
expense=[1245,2345,2423,2823,1223]
total=0
for i in range(len(expense)):
    total=total+expense[i]
    print("Expense in Month "+str(i+1) +" is "+ str(expense[i]))
print("Total expence in all month is "+ str(total))

Expense in Month 1 is 1245
Expense in Month 2 is 2345
Expense in Month 3 is 2423
Expense in Month 4 is 2823
Expense in Month 5 is 1223
Total expence in all month is 10059

In [10]:
#break
key_location="chair"
locations=["bedroom","almira","chair","kitchen","drawing room"]

for i in range(len(locations)):
    if(key_location==locations[i]):
        print("We have found the keys")
        break
    else:
         print("Keys not found in "+locations[i])

Keys not found in bedroom
Keys not found in almira
We have found the keys

In [11]:
#continue skiping
for i in range(0,6):
    if i%2==0:
        continue
    print(i*i)

1
9
25

In [12]:
i = 0

while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [13]:
#function   
def calculate_total(exp):
    total =0
    for item in exp:
        total=total+item
    return total

In [14]:
ajeet_expense=[1290,2345,1234,1246]
vihaan_expense=[213,322,677,224]

In [15]:
total_ajeet_expense= calculate_total(ajeet_expense)
total_vihaan_expense= calculate_total(vihaan_expense)

In [16]:
print("Total Ajeet's Expenses : ",total_ajeet_expense)
print("Total Vihaan's Expenses : ",total_vihaan_expense)

Total Ajeet's Expenses :  6115
Total Vihaan's Expenses :  1436

In [17]:
#positional srguments
def sum(a,b):
    total=a+b
    return total

In [18]:
n=sum(5,6)
print("Total : ", n)

Total :  11

In [19]:
#named argument
def sum(a,b):
    total=a+b
    return total

In [20]:
n=sum(b=5,a=6)
print("Total : ", n)

Total :  11

In [21]:
#global variable local variable
total=0 #global total
def sum(a,b):
    total=a+b #local total
    return total

n=sum(b=5,a=6)
print("Total : ", total)

Total :  0

In [22]:
#default argument    
def sum(a,b=0):
    total=a+b
    return total

n=sum(5)
print("Total : ",n)

Total :  5

In [23]:
#documentation string
def sum(a,b=0):
    """
    This function takes two numeric arguments, and returns a sum. 
    """
    total=a+b
    return total

n=sum(5,6)
print("Total : ",n)

Total :  11

In [24]:
#dictionary and tuple

d={"ajeet":9451960110,"vihaan":9555226879}
print(d)

{'ajeet': 9451960110, 'vihaan': 9555226879}

In [25]:
#retrival
print(d["vihaan"])

9555226879

In [26]:
#adding
d["sonam"]=9582785572

In [27]:
print(d)

{'ajeet': 9451960110, 'vihaan': 9555226879, 'sonam': 9582785572}

In [28]:
# normal itrate
for key in d:
    print("Key : ", key, "values : ", d[key] )

Key :  ajeet values :  9451960110
Key :  vihaan values :  9555226879
Key :  sonam values :  9582785572

In [29]:
# dictionary itrate
for k,v in d.items():
    print("Key : ", k, "values : ", v )

Key :  ajeet values :  9451960110
Key :  vihaan values :  9555226879
Key :  sonam values :  9582785572

In [30]:
#deletion
del d["sonam"]

In [31]:
print(d)

{'ajeet': 9451960110, 'vihaan': 9555226879}

In [32]:
#if exist in dictionary
print ("vihaan" in d)

True

In [33]:
#clear
d.clear()
print(d)

{}

In [34]:
#tuple
#NOTE: 
#list is homogeneous tuple is hetrogenous
#list is mutable tuple is not mutable
#Example of list and tuple
addressTuple=("1  street ","NYC", 10001)
expenseList=[2011,2334,2241]
nameList=["Ajeet","Vihaan","Sonam"]
#retrive tuple same like list
point=(5,"abc",7.9)
print(point[0])
print(point[1])
print(point[2])

5
abc
7.9

In [35]:
addressTuple

('1  street ', 'NYC', 10001)

In [36]:
#Modules

import math

# you can google it with module name "python math module"
#or
#details of math module
print(dir(math))
print(math.sqrt(16))
print(math.pow(16,4))
print(math.tanh(16))
print(math.log10(100))
print(math.floor(44.54))
print(math.ceil(44.54))
print(math.pi)

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
4.0
65536.0
0.9999999999999747
2.0
44
45
3.141592653589793

In [37]:
import calendar
print(dir(calendar))
cal = calendar.month(2022,1)
print(cal)
print(calendar.isleap(2022))

['Calendar', 'EPOCH', 'FRIDAY', 'February', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'January', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_locale', '_localized_day', '_localized_month', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthlen', 'monthrange', 'nextmonth', 'prcal', 'prevmonth', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'week', 'weekday', 'weekheader']
    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

False

In [38]:
#create own module in saparate file eg "area.py"

def cal_triangle_area(base,height):
    return 1/2*(base*height)
def cal_square_area(side):
    return side*side
    
    
#to use the module import the file name in same pacakage
import area
print(area.cal_triangle_area(34,98))
print(area.cal_square_area(3))

#second way
import area as a

print(a.cal_triangle_area(34,98))
print(a.cal_square_area(3))


#if it is module pakage :import module.area
import module.area
print(area.cal_triangle_area(34,98))
print(area.cal_square_area(3))

#if it is somewhere else then we have to use sys.path
import sys
sys.path.append("C:/abc")

In [39]:
#working with json

#dictionary of dictionary
book={}
book["ajeet"]={
    "name":"ajeet",
    "adderess":"1 blue street UP",
    "phone":9555226879
}

book["vihaan"]={
    "name":"vihaan",
    "adderess":"1 purple street UP",
    "phone":9452727720
}


print(book)

{'ajeet': {'name': 'ajeet', 'adderess': '1 blue street UP', 'phone': 9555226879}, 'vihaan': {'name': 'vihaan', 'adderess': '1 purple street UP', 'phone': 9452727720}}

In [40]:
#converting dictionary object to json string
import json
s= json.dumps(book)
print(type(s))
print(s)

<class 'str'>
{"ajeet": {"name": "ajeet", "adderess": "1 blue street UP", "phone": 9555226879}, "vihaan": {"name": "vihaan", "adderess": "1 purple street UP", "phone": 9452727720}}

In [42]:
#converting  json string to dictionary object
book2 = json.loads(s)
print(type(book2))
print(book2)

<class 'dict'>
{'ajeet': {'name': 'ajeet', 'adderess': '1 blue street UP', 'phone': 9555226879}, 'vihaan': {'name': 'vihaan', 'adderess': '1 purple street UP', 'phone': 9452727720}}

In [43]:
#reading value from
print(book2["ajeet"])
print(book2["ajeet"]["adderess"])

{'name': 'ajeet', 'adderess': '1 blue street UP', 'phone': 9555226879}
1 blue street UP

In [44]:
#reading value from loop
for persons in book2:
    print(book2[persons])

{'name': 'ajeet', 'adderess': '1 blue street UP', 'phone': 9555226879}
{'name': 'vihaan', 'adderess': '1 purple street UP', 'phone': 9452727720}

In [46]:
#Reading and writing files
#open statement will open new file for reading or writing
f=open("friend.txt","w")
f.write("i love python")
#it will overwrite the content
f.write("i love Java")
f.close()

In [47]:
#to append the content change the mode from w to a
f=open("friend.txt","a")
f.write("i love python")
#it will overwrite the content
f.write("\ni love Java")
f.close()

In [48]:
#Read the file all at one shot
f=open("friend.txt","r")
print(f.read())
f.close()

i love pythoni love Javai love python
i love Java

In [49]:
#Read the file line by line
f=open("friend.txt","r")
f_out=open("friend.txt_wc.txt","w")
for line in f:
    tokens=line.split(" ")
    f_out.write(line+ "word count: "+str(len(tokens)))
    print(str(tokens))
    print(len(tokens))
    print(line)
f.close()
f_out.close()

['i', 'love', 'pythoni', 'love', 'Javai', 'love', 'python\n']
7
i love pythoni love Javai love python

['i', 'love', 'Java']
3
i love Java

In [54]:
# use with statement along open it will automatically close the file
with open("friend.txt","r") as f:
    print(f.read())

i love pythoni love Javai love python
i love Java